@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);


/* MENU */




.border-menu {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 5px 0; 

}

.dropbtn {
  background-color: transparent;
  color: white;

  font-size: 12px;
  border: none;
  cursor: pointer;
}

.menubtn {
 padding: 20px 5px 16px 36px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
    font-size: 11px;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 36px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {opacity: 0.2;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  opacity: 0.2;
}

.arrowdown {
    width: 7px;
    height: auto;
    vertical-align: middle;
    
}

.inblk {
    display: inline-block;
}

.minilogo{
    position: absolute;
    margin: auto;
}

.menu-rightside {
    float: right;
    text-align: right;
   
    
}

.menu-links {
    font-size: 12px;
    padding-top: 5px;


}

.taske {
    width: 15px;
    height: auto;
    position: inherit;
    padding-left: 5px;
    padding-right: 40px;
    display: inline-block;
    vertical-align: middle;

}

.hexagon-first {
    padding-top: 40px;
    width: 300px;
    height: auto;
}

.red_button {
 background-color: red;
  border: none;
  color: #fff;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #e8e8e8;  
    float: left; 
    margin-right: 20px;
    
}


/*carousel */

.container_gallery {
    margin-left: auto;
}

.row__inner {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 40px 0;
  padding-bottom: 10px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 260px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

#container {
    overflow: scroll;
}


.scroll {
  overflow: scroll;
  width: 100%;
}


.tile {
  position: relative;
  display: inline-block;

  height: auto;
margin-right: 80px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}
.article_1 {
    background-image: url(img/californien.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 390px;
    width: 100%;
    padding: 0 30px 0 30px;
    display: inline-block;
    margin-right: 20px;
    
   
}


.gallery_header {
    font-size: 21px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    margin-bottom:160px;
    margin-block-start: 0.5em;
    
  
    
}

.gallery_body {
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 7px 0 7px 0;
    width: 80%;
    margin: auto;
    
}
.miniarrow {
    font-size: 11px;
    line-height: 20px;
    color: #fff;
    vertical-align: top;
}

/* CUSTOM */


.header-bg {
     background-image: url("img/city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
}

.header-txt {
    color: #fff;
    line-height: 16px;
    font-size: 15px;
    padding-bottom: 50px;
}

.afslut {
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    padding-top: 20px;
}

.afslut-single {
    border-bottom: 1px solid #e8e8e8;
    padding-top: 60px;
}

.afslut-lang {
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.afslut-bottom {
    border-bottom: 1px solid #e8e8e8;

    padding-bottom: 60px;

    margin-bottom: 60px;
}

.red-backline{
    border-left: 2.5px solid red;
    padding-left: 20px;
    vertical-align: top;

}

.no-margin {
     margin-block-start: 0;
    margin-block-end: 0;
}

.black-link {
    color: #000;
    font-weight: bold;
}

.red-text {
    color: red;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    font-weight: bold;
    padding: 15px 0 15px 0;
    font-size: 14px;
     margin-block-start: 0;
    margin-block-end: 0;
    
}
.red {
    color: red;
}

.red-trompet {
    color: red;
    font-size:12px;
    line-height: auto;
}

.footer-text {
   
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    font-weight: bold;
    padding: 15px 0 15px 0;
}

.tilbudsfirkanter {

    padding-top: 10px;
}

.white-frame {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    
}

.route-padding {
    padding: 100px 0 100px 0;
}

.avatar{
    width: 180px;
    height: auto;

}

.social-icons {
    width: 15px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}


/* GOOGLE MAPS */
.mapouter{position:relative;text-align:right;height:auto;width:100%;}
.gmap_canvas {overflow:hidden;background:none!important;height:700px;width:100%;}





.redbg {
     background-color: red;

}
.greenbg {
    background-color: green;
 
}

.route {
    background-image: url(img/route.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    
}

.big-container {
    width: 100%;
}

.totop {
    width: 40px;
    height: 40px;
}

#back-top {
  position: fixed;
  bottom:20px;
  right: 2%;
  z-index: 100; }

.article-text {
    padding-top: 10px;
    font-size: 16px;
    line-height: auto;
}

.trompet {
    font-size:12px;
    line-height: auto;
    color: gray;
}

.trompet-black {
    font-size:12px;
    line-height: auto;
    color: #000;
    font-weight: bold;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding-top: 10px;
    padding-bottom: 10px;
}

.trompet-social {
    font-size:12px;
    line-height: auto;
    color: #000;
  font-weight: bold;

    padding-top: 10px;
    padding-bottom: 15px;
}

.social-border {
       border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.trompet-footer {
    font-size:15px;
    line-height: auto;
}

.stat-text {
    font-size: 18px;
    line-height: auto;
    
}

.article-margin {
    margin: 100px 0 100px 0;
}

.article-margin-btm {
    margin-bottom: 100px;
}

.travel-btm {
  background-color: transparent;
  border: none;
  color: #000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid #e8e8e8;  
    

}



/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* ROOT FONT STYLES */

* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.7rem;
     margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
       margin-block-start: 0;
    margin-block-end: 0;
}

h6 {
  font-size: 0.875rem;
}

p {
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.8;
    margin-block-start: 0;
    margin-block-end: 0;
    
}

.inspira-article {
   font-size: 13px;
      margin-block-start: 0;
    margin-block-end: 0;
}

.purple {
    color: #6531d9;
    
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

.ita {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.white {
    color: #ffffff;
}

.uppercase {
    text-transform: uppercase;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
    
}

.righty {
   right: 0;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}
